<template>
    <div class="prelative container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="left-content" id="app">
                    <div id="forgot_hide" class="box-content" >
                        <div class="test">
                        </div>
                        <div class="logo mb-3">
                            <img src="../../../assets/images/logo.png" alt="">
                        </div>
                        <div class="txt">
                            <p>Sign In to Developer Dashboard</p>
                        </div>
                        <form class="form-signin mt-4 pt-1 mb-1">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                            </div>
                            <div class="form-label-group mt-2">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            </div>
                            <div class="forgot mt-2" id="demo"><a @click="isShowing = true">Forgot Password ?</a></div>
                            <button @click="onLogin" class="btn btn-lg btn-primary btn-block text-uppercase mt-4" type="submit">Sign in</button>
                        </form>
                        <div class="dont-have">
                            <p>Don't have an account yet ? <a href="#">Sign Up</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="box-content">
                        <div class="logo mb-5 pb-5">
                            <img src="../../../assets/images/logo-white_trans.png" alt="">
                        </div>
                        <div class="txt mt-5 pt-5">
                            <h4>Join Us Today</h4>
                            <p>And get ready to reap the benefits of Internet of Things.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Login',

        methods:{
            onLogin() {
                console.log('teee');
                this.$router.push({name: 'Main'}); 
            }
        }
    }
</script>

<style lang="scss">
  @import "../../../assets/sass/Login.scss";
</style>
