<template>
    <v-card>
        <v-card-title>
            List Users
            <v-spacer></v-spacer>
            <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
        </v-card-title>
        <v-data-table :headers="headers" :items="data" :search="search">
            <template v-slot:item.action="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                    edit
                </v-icon>
                <v-icon small @click="deleteItem(item)">
                    delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">Reset</v-btn>
            </template>
        </v-data-table>
    </v-card>
</template>

<style>
    .v-card.v-sheet.theme--light {
        width: 100%;
    }
</style>

<script>
import axios from 'axios';
    export default {
        data() {
            return {
                search: '',
                headers: [{
                        text: 'Name',
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: 'Email User',
                        value: 'email_user',
                        align: 'left'
                    },
                    {
                        text: 'Phone',
                        value: 'phone',
                        align: 'left'
                    },
                    {
                        text: 'Name',
                        value: 'name_pt',
                        align: 'left'
                    },
                    {
                        text: 'Address',
                        value: 'address',
                        align: 'left'
                    },
                    {
                        text: 'Website',
                        value: 'website',
                        align: 'left'
                    },
                    {
                        text: 'Email',
                        value: 'email_pt',
                        align: 'left'
                    },
                    {
                        text: 'Action',
                        value: 'action',
                        align: 'left'
                    },
                ],
                data: [{}],
            }
        },
        mounted () {
            axios
                .get('https://api.myjson.com/bins/1hdsjg')
                .then(response => {
                this.data = response.data
                })
                .catch(error => {
                console.log(error)
            })
        }
    }
</script>