<template>
    <!-- begin::Footer -->
    <footer class="m-grid__item	m-footer ">
        <div class="m-container m-container--fluid m-container--full-height m-page__container">
            <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                    <span class="m-footer__copyright">
                        2018-2020 &copy; <a href="" class="m-link"
                            target="_blank"></a>
                    </span>
                </div>
                <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                    <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                        <li class="m-nav__item">
                            <a href="<?php echo DOMAIN_ASK . '/kbs/general/privacy-policy/' ?>" target="_blank"
                                class="m-nav__link">
                                <span class="m-nav__link-text"></span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a href="<?php echo DOMAIN_ASK . '/kbs/general/terms-of-service/' ?>" target="_blank"
                                class="m-nav__link">
                                <span class="m-nav__link-text"></span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a href="<?php echo DOMAIN_ASK . '/kbs/general/cancellation-refund-policy/' ?>"
                                target="_blank" class="m-nav__link">
                                <span class="m-nav__link-text"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- end::Footer -->
</template>

<script>
    export default {

    }
</script>