<template>
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default <?php echo $defNav ?>">
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
      <Head />
      <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <Navs />
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
          <router-view></router-view>
				</div>
      </div>
      <Foot />
		</div>
</body>
</template>

<script>
import Head from './Layout/Head';
import Navs from './Layout/Navs';
import Foot from './Layout/Foot';


export default {
  name: "Dashboard",
  components:{
    Head,
    Navs,
    Foot
  }
}
</script>