<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
      <v-list dense>
        <template v-for="item in items">
          <v-row v-if="item.heading" :key="item.heading" align="center">
            <v-col cols="6">
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-col>
            <v-col cols="6" class="text-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-col>
          </v-row>
          <v-list-group v-else-if="item.children" :key="item.text" v-model="item.model"
            :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon="">
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>
                  {{ item.text }}
                </v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list-item class="children" v-for="(child, i) in item.children" :key="i" router :to="child.link">
              <v-list-item-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{ child.text }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
          <v-list-item v-else :key="item.text" router :to="item.link">
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="purple darken-3" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
        <span class="hidden-sm-and-down">WEB DEV SAM</span>
      </v-toolbar-title>
      <v-text-field flat solo-inverted hide-details prepend-inner-icon="mdi-magnify" label="Search"
        class="hidden-sm-and-down" />
      <v-spacer />
      <!-- <v-btn icon>
        <v-icon>mdi-apps</v-icon>
      </v-btn> -->
      <v-menu bottom origin="center center" transition="scale-transition">
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-apps</v-icon>
          </v-btn>
        </template>

        <v-list class="menu-list">
          <v-list-item v-for="(item, i) in lists" :key="i" router :to="item.link">
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <v-menu v-model="menu" :close-on-content-click="false">
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-bell</v-icon>
          </v-btn>
        </template>

        <v-card class="menu-notif">
          <v-list>
            <v-list-item>
              <v-list-item-avatar>
                <img src="../../../assets/images/logo.png" alt="John">
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title>Admin Web Dev</v-list-item-title>
                <v-list-item-subtitle>Founder of SAM ELEMENT</v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-action>
                <v-btn :class="fav ? 'red--text' : ''" icon @click="fav = !fav">
                  <v-icon>mdi-heart</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-list>

          <v-divider></v-divider>
          <p class="text-justify">Hello Ben, welcome aboard..! This dashboard is still in BETA, which mean it may affect your experience. You may start digging resources on the support page or jump directly creating your first API. sticky
          </p>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="menu = false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
      <!-- <v-btn icon>
        <v-icon>mdi-bell</v-icon>
      </v-btn> -->
      <v-btn icon large>
        <v-avatar size="32px" item>
          <v-img src="../../../assets/images/logo.png" alt="Vuetify" />
        </v-avatar>
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-container>
        <v-row align="center">
          <!-- <Main /> -->
          <router-view />
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  // import HoverDashboard from '../../content/HoverDashboard';
  // import Main from './Main/Main';


  export default {
    props: {
      source: String,
    },
    components: {
      //  Main,
    },
    data: () => ({
      dialog: false,
      drawer: true,
      fav: true,
      menu: false,
      message: false,
      hints: true,
      items: [{
          icon: 'mdi-desktop-mac-dashboard',
          text: 'Dashboard',
          link: '/dashboard/main'
        },
        {
          icon: 'mdi-api',
          text: 'API',
          link: '/dashboard/api'
        },
        {
          icon: 'mdi-cellphone-link',
          text: 'Device',
          link: '/dashboard/device'
        },
        {
          icon: 'mdi-chevron-up',
          'icon-alt': 'mdi-chevron-down',
          text: 'Widget',
          model: true,
          children: [{
              icon: 'mdi-rhombus-split',
              text: 'Declare Collection',
              link: '/dashboard/widgetcollect'
            },
            {
              icon: 'mdi-widgets-outline',
              text: 'Devices Default Widget',
              link: '/dashboard/widgetdefault'
            },
          ]
        },
        {
          icon: 'mdi-account',
          text: 'Users',
          link: '/dashboard/users'
        },
      ],
      lists: [{
          title: 'Profile',
          link: '/dashboard/profile'

        },
        {
          title: 'Upgrade',
          link: '/dashboard/subcription'

        },
        {
          title: 'Config',
          link: '/dashboard/config'

        }
      ]
    }),
  }
</script>

<style lang="scss">
  @import "../../../assets/sass/Dashboard.scss";
</style>