<template>
  <v-card>
    <v-toolbar flat>
      <v-toolbar-title>List Of Users</v-toolbar-title>
    </v-toolbar>
    <v-banner
      single-line
    >
      Manage your Users here
    </v-banner>
    <v-card-text class="grey lighten-4">
        <UsersData />
    </v-card-text>
  </v-card>
</template>

<script>
// import Table from '../../../content/Table';
import UsersData from '../../../data/UsersData/UsersData';


export default {
    name: "Users",
    components: {
        UsersData,
    }
}
</script>

