<template>
  <v-card>
      <v-btn
      bottom
      color="pink"
      dark
      fab
      fixed
      right
      @click="dialog = !dialog"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      width="800px"
    >
    <v-card>
    <v-card-title class="grey darken-2">
        Create Widget Collection
    </v-card-title>
    <v-container>
        <v-row class="mx-2">
        <v-col cols="6">
            <v-text-field
            prepend-icon="mdi-account-card-details-outline"
            placeholder="Name"
            />
        </v-col>
        <v-col cols="6">
            <v-text-field
            prepend-icon="mdi-account-card-details-outline"
            placeholder="API Username"
            />
        </v-col>
        <v-col cols="6">
            <v-text-field
            prepend-icon="mdi-account-card-details-outline"
            placeholder="State"
            />
        </v-col>
        <v-col cols="6">
            <v-text-field
            prepend-icon="mdi-account-card-details-outline"
            placeholder="Action"
            />
        </v-col>
        </v-row>
    </v-container>
    <v-card-actions>
        <v-spacer />
        <v-btn
        text
        color="primary"
        @click="dialog = false"
        >Cancel</v-btn>
        <v-btn
        text
        @click="dialog = false"
        >Save</v-btn>
    </v-card-actions>
    </v-card>
</v-dialog>
  </v-card>
</template>

<script>

// import Table from '../../../content/Table';

export default {
    name: "CreateWidgetCollection",
    props: {
      source: String,
    },
    data: () => ({
        dialog: false,
    })
}
</script>