<template>
  <v-card>
    <v-toolbar flat>
      <v-toolbar-title>Widget Collection</v-toolbar-title>
    </v-toolbar>
    <v-banner
      single-line
    >
      Manage your widget collection here
    </v-banner>
    <v-card-text class="grey lighten-4">
        <WidgetCollectData />
        <CreateWidgetCollection />
    </v-card-text>
  </v-card>
</template>

<script>
import WidgetCollectData from '../../../data/WidgetCollectData/WidgetCollectData';
import CreateWidgetCollection from './CreateWidgetCollection';

export default {
    name: "WidgetCollection",
    components: {
        WidgetCollectData,
        CreateWidgetCollection
    }
}
</script>