<template>
  <v-card>
    <v-toolbar flat>
      <v-toolbar-title>Default Widget</v-toolbar-title>
    </v-toolbar>
    <v-banner
      single-line
    >
      Manage your default widget here.
    </v-banner>
    <v-card-text class="grey lighten-4">
        <WidgetDefaultData />
        <CreateWidgetCollection />
    </v-card-text>
  </v-card>
</template>

<script>
import WidgetDefaultData from '../../../data/WidgetDefaultData/WidgetDefaultData';
import CreateWidgetCollection from './CreateWidgetCollection';

export default {
    name: "WidgetCollection",
    components: {
        WidgetDefaultData,
        CreateWidgetCollection
    }
}
</script>