<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>logo.png">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/templates/css/custom.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/templates/css/datatables.bundle.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/templates/css/fullcalendar.bundle.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/templates/css/style.bundle.min.css">
    <title>WEB DEV SAM</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
        active: function() {
          sessionStorage.fonts = true;
        }	
      });
      </script>
  </head>
  <body>
    <noscript>
      <strong>SAM APP WEB DEV</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!--begin::Global Theme Bundle -->
    <!-- <script src="<%= BASE_URL %>assets/templates/js/scripts.bundle.min.js" type="text/javascript"></script>
    <script src="<%= BASE_URL %>assets/templates/js/script.js" type="text/javascript"></script>
    <script src="<%= BASE_URL %>assets/templates/js/script2.js" type="text/javascript"></script>
    <script src="<%= BASE_URL %>assets/templates/js/jquery.min.js" type="text/javascript"></script>

    <script src="<%= BASE_URL %>assets/templates/js/wNumb.js" type="text/javascript"></script>
    <script src="<%= BASE_URL %>assets/templates/js/popper.min.js" type="text/javascript"></script>
    <script src="<%= BASE_URL %>assets/templates/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="<%= BASE_URL %>assets/templates/js/js.cookie.js" type="text/javascript"></script>
    <script src="<%= BASE_URL %>assets/templates/js/moment.min.js" type="text/javascript"></script>
    <script src="<%= BASE_URL %>assets/templates/js/tooltip.min.js" type="text/javascript"></script>
    <script src="<%= BASE_URL %>assets/templates/js/perfect-scrollbar.min.js" type="text/javascript"></script>
    <script src="<%= BASE_URL %>assets/templates/js/datatables.bundle.js" type="text/javascript"></script>
    <script src="<%= BASE_URL %>assets/templates/js/fullcalendar.bundle.js" type="text/javascript"></script> -->
  </body>
</html>
