<template>
    <div class="donut-bar">
        <apexcharts width="100%" type="donut" :options="options" :series="series"></apexcharts>
    </div>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'

    export default {
        name: 'UserHistory',
        components: {
            apexcharts: VueApexCharts,
        },
        data: function () {
            return {
                options: {},
                series: [44, 55, 41, 17, 15]
            }
        }

    }
</script>

<style>
    
</style>