<template>
        <div class="box-content">
            <h4 class="py-5 my-3">Users History</h4>
            <apexcharts width="100%" height="400" type="bar" :options="chartOptions" :series="series"></apexcharts>
        </div>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'

    export default {
        name: 'UserHistory',
        components: {
            apexcharts: VueApexCharts,
        },
        data: function () {
            return {
                chartOptions: {
                    chart: {
                        id: 'vuechart-example',
                    },
                    xaxis: {
                        categories: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2020, 2021, 2022],
                    },
                },
                series: [{
                    name: 'series-1',
                    data: [30, 40, 45, 50, 49, 60, 70, 40,81,25,55,10,90,70]
                }]
            }
        },
        methods: {
            updateChart() {
                const max = 90;
                const min = 20;
                const newData = this.series[0].data.map(() => {
                    return Math.floor(Math.random() * (max - min + 1)) + min
                })
                // In the same way, update the series option
                this.series = [{
                    data: newData
                }]
            }
        }
    }
</script>