<template>
    <v-card>
        <v-card-title>
            Data Table Example
            <v-spacer></v-spacer>
            <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
        </v-card-title>
        <v-data-table :headers="headers" :items="desserts" :search="search"></v-data-table>
    </v-card>
</template>

<style>
    .v-card.v-sheet.theme--light {
        width: 100%;
    }
</style>

<script>
    export default {
        data() {
            return {
                search: '',
                headers: [{
                        text: 'Serial Number',
                        align: 'left',
                        sortable: false,
                        value: 'name',
                        width: 125
                    },
                    {
                        text: 'Model',
                        value: 'model',
                        align: 'center'
                    },
                    {
                        text: 'Name',
                        value: 'names',
                        align: 'center'
                    },
                    {
                        text: 'MAC',
                        value: 'mac_add',
                        align: 'center'
                    },
                    {
                        text: 'User',
                        value: 'user',
                        align: 'center'
                    },
                    {
                        text: 'Log Limit',
                        value: 'log',
                        align: 'center'
                    }
                ],
                desserts: [{
                        name: '1S0013A2004106EB6C',
                        model: 'WLUS-100',
                        names: 'Sensor Arus Tegangan',
                        mac_add: 'ED:C3:DF:28:0F:B4',
                        user: 'Hanifbud',
                        log: '1%',
                    },
                    {
                        name: '1S0013A200418DA021',
                        model: 'WLUS-100',
                        names: 'Sensor Arus Tegangan',
                        mac_add: 'ED:C3:DF:28:0F:B4',
                        user: 'Hanifbud',
                        log: '1%',
                    },
                    {
                        name: '1S0013A200418DA10E',
                        model: 'WLUS-100',
                        names: 'Sensor Arus Tegangan',
                        mac_add: 'ED:C3:DF:28:0F:B4',
                        user: 'Hanifbud',
                        log: '7%',
                    },
                    {
                        name: '1S12064618',
                        model: 'WLUS-100',
                        names: 'Sensor Arus Tegangan',
                        mac_add: 'ED:C3:DF:28:0F:B4',
                        user: 'Hanifbud',
                        log: '8%',
                    },
                    {
                        name: '1S1535565',
                        model: 'WLUS-100',
                        names: 'Sensor Arus Tegangan',
                        mac_add: 'ED:C3:DF:28:0F:B4',
                        user: 'Hanifbud',
                        log: '16%',
                    },
                    {
                        name: '1S1535841',
                        model: 'WLUS-100',
                        names: 'Sensor Arus Tegangan',
                        mac_add: 'ED:C3:DF:28:0F:B4',
                        user: 'Hanifbud',
                        log: '0%',
                    },
                    {
                        name: '1S1535842',
                        model: 'WLUS-100',
                        names: 'Sensor Arus Tegangan',
                        mac_add: 'ED:C3:DF:28:0F:B4',
                        user: 'Hanifbud',
                        log: '2%',
                    },
                    {
                        name: '1S1535846',
                        model: 'WLUS-100',
                        names: 'Sensor Arus Tegangan',
                        mac_add: 'ED:C3:DF:28:0F:B4',
                        user: 'Hanifbud',
                        log: '45%',
                    },
                    {
                        name: '1S1537178',
                        model: 'WLUS-100',
                        names: 'Sensor Arus Tegangan',
                        mac_add: 'ED:C3:DF:28:0F:B4',
                        user: 'Hanifbud',
                        log: '22%',
                    },
                    {
                        name: '1S1535565',
                        model: 'WLUS-100',
                        names: 'Sensor Arus Tegangan',
                        mac_add: 'ED:C3:DF:28:0F:B4',
                        user: 'Hanifbud',
                        log: '6%',
                    },
                ],
            }
        },
    }
</script>