<template>
  <v-card>
    <v-toolbar flat>
      <v-toolbar-title>List Of My Api</v-toolbar-title>
    </v-toolbar>
    <v-banner
      single-line
    >
      Manage your API here
    </v-banner>
    <v-card-text class="grey lighten-4">
    <ApiData />
    <CreateApi />
    
    </v-card-text>
  </v-card>
</template>

<script>
import ApiData from '../../../data/ApiData/ApiData';
import CreateApi from './CreateApi';

export default {
    name: "Api",
    components: {
        ApiData,
        CreateApi
    },
}
</script>