<template>

    <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0">
            <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
                <h6 class="card-price text-center">$9<span class="period">/month</span></h6>
                <hr>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong>
                    </li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects
                    </li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private
                        Projects
                    </li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support
                    </li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly
                        Status Reports</li>
                </ul>
                <a href="#" class="btn btn-block btn-primary text-uppercase">Subcription</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Plus"
    }
</script>