<template>
    <div class="row">
        <div class="col-md-4">
            <ProfileLeft />
        </div>
        <div class="col-md-8 mt-4">
            <ProfileRight />
        </div>
    </div>
</template>

<script>
    import ProfileLeft from '../../../content/Profile/ProfileLeft';
    import ProfileRight from '../../../content/Profile/ProfileRight';


    export default {
        name: "Profile",
        components: {
            ProfileRight,
            ProfileLeft,
        }
    }
</script>