<template>
  <v-card>
    <v-toolbar flat>
      <v-toolbar-title>List Of My Device</v-toolbar-title>
    </v-toolbar>
    <v-banner
      single-line
    >
      Manage your IoT devices here
    </v-banner>
    <v-card-text class="grey lighten-4">
        <DeviceData />
    </v-card-text>
  </v-card>
</template>

<script>
// import Table from '../../../content/Table';
import DeviceData from '../../../data/DeviceData/DeviceData';


export default {
    name: "Device",
    components: {
        DeviceData,
    }
}
</script>

