<template>
    <section class="main-dashboard">
        <v-card>
            <v-toolbar flat>
                <v-toolbar-title>Main Dashboard</v-toolbar-title>
            </v-toolbar>
            <v-banner single-line>
                Manage your IoT devices here
            </v-banner>
            <v-card-text class="grey lighten-4">
                <DeviceData />
            </v-card-text>
        </v-card>
        <UserHistory />
        <div class="row">
            <div class="col-md-6">
                <UserSpline />
            </div>
            <div class="col-md-6">
                <OrgChart />
            </div>
        </div>
    </section>
</template>

<script>
    // import VueApexCharts from 'vue-apexcharts'
    import UserHistory from '../../../content/Main/UserHistory';
    import UserSpline from '../../../content/Main/UserSpline';
    import OrgChart from '../../../content/Main/OrgChart';




    export default {
        name: 'Chart',
        components: {
            // apexcharts: VueApexCharts,
            OrgChart,
            UserSpline,
            UserHistory,

        },
    }
</script>
<style lang="scss">
    @import "../../../../assets/sass/Main.scss";
</style>