
<template>
    <v-card>
        <v-card-title>
            List Devices
            <v-spacer></v-spacer>
            <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
        </v-card-title>
        <v-data-table :headers="headers" :items="data" :search="search">
            <template v-slot:item.logged="{ item }">
                <v-chip :color="getColor(item.logged)" dark>{{ item.logged }}</v-chip>
            </template>
            <template v-slot:item.state="{ item }">
                <v-chip :color="getColors(item.state)" dark>{{ item.state }}</v-chip>
            </template>
            <template v-slot:item.action="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                    edit
                </v-icon>
                <v-icon small @click="deleteItem(item)">
                    delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">Reset</v-btn>
            </template>
        </v-data-table>
    </v-card>
</template>

<style>
    .v-card.v-sheet.theme--light {
        width: 100%;
    }
</style>

<script>
import axios from 'axios';
    export default {
        data() {
            return {
                search: '',
                headers: [{
                        text: 'SN',
                        align: 'left',
                        value: 'serial_number',
                    },
                    {
                        text: 'Model',
                        value: 'model',
                        align: 'left'
                    },
                    {
                        text: 'Name',
                        value: 'name',
                        align: 'left'
                    },
                    {
                        text: 'MAC ADDRESS',
                        value: 'mac_address',
                        align: 'left'
                    },
                    {
                        text: 'Sammy Ver',
                        value: 'sam_ver',
                        align: 'left'
                    },
                    {
                        text: 'Firmware Ver',
                        value: 'firm_ver',
                        align: 'left'
                    },
                    {
                        text: 'Born',
                        value: 'born',
                        align: 'left'
                    },
                    {
                        text: 'User',
                        value: 'user',
                        align: 'left'
                    },
                    {
                        text: 'Log Limit',
                        value: 'log_limit',
                        align: 'left'
                    },
                    {
                        text: 'Logged',
                        value: 'logged',
                        align: 'left'
                    },
                    {
                        text: 'State',
                        value: 'state',
                        align: 'left'
                    },
                    {
                        text: 'Action',
                        value: 'action',
                        align: 'left'
                    },
                ],
                data: [{}],
            }
        },
        mounted () {
            axios
                .get('https://api.myjson.com/bins/r45bw')
                .then(response => {
                this.data = response.data
                })
                .catch(error => {
                console.log(error)
            })
        },
        methods: {
            getColor (logged) {
                if (logged == false) return 'red'
                else return 'green'
            },
            getColors (state) {
                if (state == false) return 'blue'
                else return 'green'
            },
        },
    }
</script>


<style lang="scss">
  @import "../../../assets/sass/DeviceTable.scss";
</style>
