<template>
    <div class="box-content-config-left">
        <h4>Setting</h4>
        <v-divider class="my-4"></v-divider>
        <v-container class="container-radio-button" fluid>
            <!-- <p>{{ radios || 'null' }}</p> -->
            <v-radio-group v-model="radios" :mandatory="false">
                <v-text class="device-inclusiv">Device Inclusiveness</v-text>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box-content-inner">
                            <v-radio label="Open" value="radio-1"></v-radio>
                            <v-text>This means your devices can be identified on every other open apps.</v-text>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box-content-inner">
                            <v-radio label="Closed" value="radio-2"></v-radio>
                            <v-text>This means your devices can ONLY be identified on your own apps.</v-text>
                        </div>
                    </div>
                </div>
            </v-radio-group>
            <v-radio-group v-model="radios" :mandatory="false">
                <v-text class="device-inclusiv">App Inclusiveness</v-text>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box-content-inner">
                            <v-radio label="Open" value="radio-1"></v-radio>
                            <v-text>This means your apps can identify every other open devices.</v-text>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box-content-inner">
                            <v-radio label="Closed" value="radio-2"></v-radio>
                            <v-text>This means your apps can ONLY identify your own devices.</v-text>
                        </div>
                    </div>
                </div>
            </v-radio-group>
        </v-container>
        <v-switch class="radio-button" v-model="people" label="Allow Logging" value="Jacob"></v-switch>
        <v-text-field class="pb-2" placeholder="" label="Default Log Limit in MB for New Device (Enter 0 for no limit)">
            <v-icon slot="append" color="green">mdi-account-box-outline</v-icon>
        </v-text-field>
        <v-text-field class="pb-2" placeholder="" label="Keep Log for Each Device">
            <v-icon slot="append" color="green">mdi-account-box-outline</v-icon>
        </v-text-field>
        <div class="text-left">
            <v-btn rounded color="primary" dark>Update</v-btn>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style lang="scss">
    @import "../../../assets/sass/Config.scss";
</style>