<template>
    <div class="box-content-config-right">
        <h4>White Label Service</h4>
        <v-divider class="my-4"></v-divider>
        <v-text-field class="pb-2" placeholder="SAM Element" label="Company Brand Name">
            <v-icon slot="append" color="green">mdi-account-box-outline</v-icon>
        </v-text-field>
        <v-text-field class="pb-2" placeholder="an Internet of Things company" label="Company Tagline">
            <v-icon slot="append" color="green">mdi-account-box-outline</v-icon>
        </v-text-field>
        <v-text-field class="pb-2" placeholder="Domain URL" label="https://www.samelement.com">
            <v-icon slot="append" color="green">mdi-account-box-outline</v-icon>
        </v-text-field>
        <v-text-field class="pb-2" placeholder="no-reply@samelement.com"
            label="Noreply Email Address (domain verification required)">
            <v-icon slot="append" color="green">mdi-account-box-outline</v-icon>
        </v-text-field>
        <v-text-field class="pb-2" placeholder="ask@samelement.com" label="Customer Support Email Address">
            <v-icon slot="append" color="green">mdi-account-box-outline</v-icon>
        </v-text-field>
        <v-text-field class="pb-2" placeholder="https://app.samelement.com/invitation/images/logo-red-black-240wide.jpg"
            label="Logo URL (200px width recommended)">
            <v-icon slot="append" color="green">mdi-account-box-outline</v-icon>
        </v-text-field>
        <v-text-field class="pb-2" placeholder="https://www.samelement.com/terms_of_service.html"
            label="Terms of Service URL">
            <v-icon slot="append" color="green">mdi-account-box-outline</v-icon>
        </v-text-field>
        <v-text-field class="pb-2" placeholder="https://www.samelement.com/privacy_policy.html"
            label="Privacy Policy URL">
            <v-icon slot="append" color="green">mdi-account-box-outline</v-icon>
        </v-text-field>
        <v-text-field class="pb-2" placeholder="https://play.google.com/store/apps/details?id=com.samelement.samiot"
            label="Android App Download URL">
            <v-icon slot="append" color="green">mdi-account-box-outline</v-icon>
        </v-text-field>
        <v-text-field class="pb-2" placeholder="" label="IoS App Download URL">
            <v-icon slot="append" color="green">mdi-account-box-outline</v-icon>
        </v-text-field>
        <v-text-field class="pb-2" placeholder="" label="Other App Download URL">
            <v-icon slot="append" color="green">mdi-account-box-outline</v-icon>
        </v-text-field>
        <div class="text-left">
            <v-btn rounded color="primary" dark>Update</v-btn>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style lang="scss">
    @import "../../../assets/sass/Config.scss";
</style>