<template>
    <v-card :loading="loading" class="mx-auto mt-4" max-width="100%">
        <v-img height="250" src="../../../assets/images/logo.png"></v-img>
        <v-card-title class="title-prof">XYZ MANUFACTUR</v-card-title>
        <v-subheader>developer@samelement.com</v-subheader>
        <v-card-text>
            <div class="mb-4 subtitle-1 black--text">
                <v-list flat>
                    <v-list-item-group v-model="item" color="primary">
                        <v-list-item v-for="(item, i) in items" :key="i" router :to="item.link">
                            <v-list-item-icon>
                                <v-icon v-text="item.icon"></v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title v-text="item.text"></v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </div>
        </v-card-text>
        <v-divider class="mx-4"></v-divider>
        <div class="row px-3">
            <div class="col-md-7">
                <div class="above-card">
                    <h4>Account Type</h4>
                    <p>Exploring the darkness</p>
                </div>
            </div>
            <div class="col-md-5">
                <v-card-actions>
                    <v-btn class="" outlined color="indigo">Industrial</v-btn>
                </v-card-actions>
            </div>
        </div>
    </v-card>
</template>


<script>
    export default {
        name: "ProfileLeft",
        data: () => ({
            item: 1,
            items: [{
                    text: 'Profile',
                    icon: 'mdi-clock',
                    link:'/dashboard/profile'
                },
                {
                    text: 'Billing',
                    icon: 'mdi-account',
                    link:'/dashboard/subcription'
                },
                {
                    text: 'Upgrade',
                    icon: 'mdi-flag',
                    link:'/dashboard/config'
                },
            ],
        }),
    }
</script>

<style lang="scss">
    @import "../../../assets/sass/Profile.scss";
</style>