<template>
  <v-tabs>
    <v-tab>Update Profile</v-tab>
    <v-tab-item :value="0">
      <v-card flat tile>
        <v-card-text>
          <div class="title-personal-details pt-4 pb-2">
            <p>Personal Detail</p>
          </div>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left" slot="prepend" color="green">First Name</v-text>
          </v-text-field>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left" slot="prepend" color="green">Last Name</v-text>
          </v-text-field>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left" slot="prepend" color="green">Job Title</v-text>
          </v-text-field>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left" slot="prepend" color="green">Phone Number</v-text>
          </v-text-field>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left" slot="prepend" color="green">Email Address</v-text>
          </v-text-field>
        </v-card-text>



        <v-card-text>
          <div class="title-personal-details pt-4 pb-2">
            <p>Update Password</p>
          </div>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left-update-pass" slot="prepend" color="green">Current Password</v-text>
          </v-text-field>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left-update-pass" slot="prepend" color="green">New Password</v-text>
          </v-text-field>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left-update-pass" slot="prepend" color="green">Repeat New Password</v-text>
          </v-text-field>
        </v-card-text>


        <v-card-text>
          <div class="title-personal-details pt-4 pb-2">
            <p>Change Email</p>
          </div>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left-update-pass" slot="prepend" color="green">New Email Address</v-text>
          </v-text-field>
        </v-card-text>
      </v-card>
    </v-tab-item>

    <v-tab>Update Organitation</v-tab>

    <v-tab-item :value="1">
      <v-card flat tile>
        <v-card-text>
          <div class="title-personal-details pt-4 pb-2">
            <p>Organization Detail</p>
          </div>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left" slot="prepend" color="green">Name</v-text>
          </v-text-field>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left" slot="prepend" color="green">Address Line 1</v-text>
          </v-text-field>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left" slot="prepend" color="green">Address Line 2</v-text>
          </v-text-field>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left" slot="prepend" color="green">City</v-text>
          </v-text-field>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left" slot="prepend" color="green">Province / Region</v-text>
          </v-text-field>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left" slot="prepend" color="green">Country</v-text>
          </v-text-field>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left" slot="prepend" color="green">Zip / Postal Code</v-text>
          </v-text-field>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left" slot="prepend" color="green">Website Address</v-text>
          </v-text-field>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left" slot="prepend" color="green">Email Address</v-text>
          </v-text-field>
          <v-text-field class="pb-3">
            <v-icon slot="append" color="red">mdi-plus</v-icon>
            <v-text class="text-profile-input-left" slot="prepend" color="green">Phone No.</v-text>
          </v-text-field>
        </v-card-text>
      </v-card>
    </v-tab-item>
    <!-- <v-tab>Item Three</v-tab> -->
  </v-tabs>
</template>

<script>
  export default {
    name: "ProfileRight",
  }
</script>

<style lang="scss">
  @import "../../../assets/sass/Profile.scss";
  .text-profile-input-left{
    width: 170px;
  }
  .text-profile-input-left-update-pass{
    width: 170px;
  }
  .title-personal-details{
    font-size: 30px;
    font-weight: 700;
    color: #000000;
  }
</style>