<template>
    <div class="row mt-4">
        <div class="col-md-6">
            <ConfigLeft />
        </div>
        <div class="col-md-6">
            <ConfigRight />
        </div>
    </div>
</template>

<script>
    import ConfigLeft from '../../../content/Config/ConfigLeft';
    import ConfigRight from '../../../content/Config/ConfigRight';


    export default {
        name: "Config",
        components: {
            ConfigRight,
            ConfigLeft,
        }
    }
</script>