<template>
    <div class="content subcription">
        <div class="m-pricing-table-2__title m--font-light">
            <h1>Pricing</h1>
        </div>
        <!-- <div class="btn-group nav m-btn-group m-btn-group--pill m-btn-group--air" role="group">
            <button type="button" class="btn m-btn--pill m-btn--wide m-btn--uppercase m-btn--bolder active show"
                data-toggle="tab" href="#m-pricing-table_content1" role="tab" aria-expanded="true" aria-selected="true">
                Monthly </button>
            <button type="button" class="btn m-btn--pill m-btn--wide m-btn--uppercase m-btn--bolder" data-toggle="tab"
                href="#m-pricing-table_content2" role="tab" aria-expanded="false" aria-selected="false">
                Annual Save 20% </button>
        </div> -->
        <div class="pricing py-5">
            <div class="prelative container">
                <div class="row no-gutters">
                    <Free />
                    <Plus />
                    <Pro />
                    <Platinum />
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import Free from '../../../content/Subcription/Free';
    import Plus from '../../../content/Subcription/Plus';
    import Pro from '../../../content/Subcription/Pro';
    import Platinum from '../../../content/Subcription/Platinum';

    export default {
        name: "Subcription",
        components: {
            Free,
            Plus,
            Pro,
            Platinum,
        }
    }

</script>

<style lang="scss">
    @import "../../../../assets/sass/Subcription.scss";
</style>