<template>
    <v-card>
        <v-card-title>
            Select Model
            <v-spacer></v-spacer>
            <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
        </v-card-title>
        <div class="row pt-3">
            <div class="col-md-2 col-6"  v-for="item in data" :key = "item">
                <v-card max-width="200" class="">
                    <v-img src="../../../assets/images/11.jpg" height="200px" dark>
                        <v-row class="fill-height">
                            <v-card-title>
                                <v-btn dark icon>
                                    <v-icon>mdi-plus</v-icon>
                                </v-btn>

                                <v-spacer></v-spacer>

                                <v-btn dark icon class="">
                                    <v-icon>mdi-pencil</v-icon>
                                </v-btn>

                                <v-btn dark icon>
                                    <v-icon>mdi-archive</v-icon>
                                </v-btn>
                            </v-card-title>

                            <v-spacer></v-spacer>

                        </v-row>
                    </v-img>
                    <v-card-title class="">
                        <div class="title-box">{{ item.name }}</div>
                    </v-card-title>
                </v-card>
            </div>
        </div>
    </v-card>
</template>

<style>
    .v-card.v-sheet.theme--light {
        width: 100%;
    }
    .row.fill-height .v-card__title{
        position: absolute;
        top: -5px;
        right: -5px;
    }
    .row.fill-height .v-card__title .v-btn--icon.v-size--default{
        width:28px;
        height:28px;
    }
    .v-card__text.grey.lighten-4 .row{
        padding: 0 16px;
    }
    .v-card.v-sheet.theme--light .v-card__title{
        padding: 5px;
    }
    .v-card.v-sheet.theme--light .v-card__title .title-box{
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
    }
</style>


<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                data: [{}],
            }
        },
        mounted() {
            axios
                .get('https://api.myjson.com/bins/ou2us')
                .then(response => {
                    this.data = response.data
                })
                .catch(error => {
                    console.log(error)
                })
        }
    }
</script>