<template>
  <router-view></router-view>
</template>


<script>
export default {
  name: 'App',

  components: {
    
  },

  data: () => ({
    //
  }),
};
</script>

<style lang="scss">
  @import "./assets/sass/Global.scss";
</style>

