.box-content-config-right .v-input__control .v-text-field__slot label{
    font-size: 23px;
    height: 27px;
}
.box-content-config-right .v-input__control .v-text-field__slot input{
    margin-top: 10px;
}

.box-content-config-left .v-input.radio-button.theme--light.v-input--selection-controls.v-input--switch label.v-label.theme--light {
    margin-bottom: 0;
    font-size: 20px;
    margin-left: 10px;
}
.box-content-config-left .box-content-inner{
    border: 1px solid #c0c0c0;
    padding: 20px;
    height: 145px;
}
.box-content-config-left .box-content-inner .v-radio.theme--light label.v-label.theme--light{
    margin-bottom: 0;
}
.box-content-config-left .container.container-radio-button.container--fluid .v-input.v-input--is-label-active.v-input--is-dirty.theme--light.v-input--selection-controls.v-input--radio-group.v-input--radio-group--column{
    margin-top: 0;
}
.box-content-config-left .container.container-radio-button.container--fluid{
    padding-left: 0;
}