a.v-list-item.v-list-item--link.theme--light{
    text-decoration: none;
}

.theme--light.v-list-item--active:hover::before, .theme--light.v-list-item--active::before{
    opacity: 0.2;
}

.v-application--is-ltr .v-list-item__action:first-child, .v-application--is-ltr .v-list-item__icon:first-child{
    margin-right: 15px;
}

a.children.v-list-item.v-list-item--link.theme--light{
    margin-left: 15px;
}

.content.subcription .row.no-gutters{
    margin: 0 35px;
}

.v-menu__content.theme--light.v-menu__content--fixed.menuable__content__active{
    max-width: 450px !important;
    top: 65px !important;
    left: auto !important;
    transform-origin: right top !important;
    z-index: 8 !important;
    float: right !important;
    right: 0 !important;
    box-shadow: none;
}


  
.menu-notif.v-card.v-sheet.theme--light p.text-justify{
    padding: 0 20px;
}
.v-list.menu-list.v-sheet.v-sheet--tile.theme--light{
  margin-right: 70px;
}