.prelative.container{
    max-width: 100%;
    margin: 0;
    padding: 0;
    .left-content{
        display: table;
        vertical-align: middle;
        height: 100vh;
        width: 100%;
        .box-content{
            vertical-align: middle;
            display: table-cell;
            height: 100%;
            margin: 0 auto;
            text-align: center;
            max-width: 300px;
            .logo{
                img{
                    width: 125px;
                }
            }
            .txt{
                p{
                    font-size: 19px;
                    font-weight: bold;
                }
            }
            .form-control:focus{
                box-shadow: none;
            }
            form.form-signin{
                max-width: 300px;
                margin: 0 auto;
                input{
                    border: none;
                    background: transparent;
                    border-bottom: 1px solid #c0c0c0;
                    border-radius: 0;
                    padding: 0;
                }
                button.btn{
                    background-color: #9816f4;
                    border-color: #9816f4;
                    font-size: 1rem;
                    font-weight: 400;
                    width: 125px;
                    border-radius: 50px;
                    margin: 0 auto;
                    height: 50px;
                }
                .forgot{
                    text-align: right;
                    a{
                        color: #9816f4;
                        cursor: pointer;
                    }
                }
            }
            .dont-have{
                font-weight: 400;
                color: #898b96;
                bottom: 1%;
                position: absolute;
                text-align: center;
                margin: 0 auto;
                width: 100%;
                p{
                    font-size: 16px;
                    a{
                        margin-left: 15px;
                        color: #9816f4;
                    }
                }
            }
        }
    }
    .right-content{
        display: table;
        vertical-align: middle;
        height: 100vh;
        width: 100%;
        background-image: url("../../../assets/images/bg-login.jpg");
        .box-content{
            vertical-align: middle;
            display: table-cell;
            height: 100%;
            margin: 0 auto;
            text-align: center;
            .logo{
                img{
                    width: 275px;
                }
            }
            .txt{
                h4{
                    color: #ffffff;
                    font-size: 50px;font-weight: 600;
                }
                p{
                    color: #ffffff;
                    font-size: 14px;
                }
            }
        }
    }
}
