.mx-auto.mt-4.v-card.v-sheet.theme--light .v-card.v-sheet.theme--light .v-card__title.title-prof,
.mx-auto.mt-4.v-card.v-sheet.theme--light .theme--light.v-subheader {
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.v-card__title.title-prof{
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.mx-auto.mt-4.v-card.v-sheet.theme--light .mb-4.subtitle-1.black--text .v-list-item{
    padding: 0 55px;
}

.mx-auto.mt-4.v-card.v-sheet.theme--light .v-card__text{
    padding-top: 0;
    padding-bottom: 0;
}

.mx-auto.mt-4.v-card.v-sheet.theme--light .v-card__text .v-list.v-sheet.v-sheet--tile.theme--light.v-list--flat{
    padding-top: 0;
    padding-bottom: 0;
}